/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.ploeg{
    background-color: lightblue;
    width: 160px;
    float: left;
    margin: 2vw;
    border-radius: 4px;
    text-align: center;
    height: 200px;
    border-style: solid;
    border-width:2px;
}

.nofavorit, .favorit{
    background-color: lightblue;
    width: 120px;
    float: left;
    margin: 2vw;
    border-radius: 4px;
    text-align: center;
    height: 70px;
    border-style: solid;
    border-width:2px;
}

.favorit{
    background-color: lightgreen;
}

img{
    margin: 10px;
}

h2{
    width:150px;
}

h3{
    width:250px;
}

.personWithButtons {
    display: flex;
    justify-content:center;
    width:100%;
}








